<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="JobContext" connectionString="Data Source=|DataDirectory|SampleDatabase.sdf"
      providerName="System.Data.SqlServerCe.4.0" />
    <add name="TimeLogTest.Properties.Settings.TestDatabase_1ConnectionString"
      connectionString="Data Source=C:\Users\昌彦\Dropbox\programming\C#\TimeLog\TimeLogTest\bin\Debug\TestDatabase#1.sdf"
      providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="TimeLogTest.Properties.Settings.SampleDatabaseConnectionString"
      connectionString="Data Source=C:\Users\mebisuda\Dropbox\programming\C#\TimeLog\TimeLog\bin\Debug\SampleDatabase.sdf"
      providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="TimeLogTest.Properties.Settings.forTest" connectionString="Data Source=C:\Users\mebisuda\Dropbox\programming\C#\TimeLog\TimeLogTest\bin\Debug\SampleDatabase.sdf"
      providerName="Microsoft.SqlServerCe.Client.4.0" />
  </connectionStrings>
</configuration>